<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> head }}
  <link rel="shortcut icon" type="image/x-icon" href="http://seo-trustbox-on-node-js-131654.nitrousapp.com:3000/favicon.ico" />
  <link rel="stylesheet" href="https://productreviewswidgets.trustpilot.com/Styles/trustpilot-seo-widget.min.css"/>
</head>
<body>
  {{> navbar }}
  
  {{{body}}}
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>