<div class="container">
  <a class="btn btn-default", href="/products">&lt;&lt; Go Back</a>
  <h1> Look at this: {{product.name}}
  <div class="row" style="margin-top:20px;">
    <div class="col-md-12" style="height=320px;">
      <img style="width: 100%;" src="{{product.productImages.0.url}}"/>
    </div>
    <!--
    <div class="col-md-6" style="height=320px;">
      <img style="width: 100%;" src="{{product.productImages.0.url}}"/>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div>{{{seoHtml}}}</div>
    </div>
    -->
  </div>
</div>
<script src="https://productreviewswidgets.trustpilot.com/Scripts/trustpilot-seo-widget.js"></script>
