<meta charset="utf-8"/>
<meta http-equiv="utf-8" content="IE=edge"/>
<meta name="viewport" contenet="width=device-width inital-scale=1"/>
<title>{{title}}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/stylesheets/style.css"/>
